[submodule "day4/finished/azure_iothub_lite_cpp_client/lib/AzureIoTLiteClient"]
	path = day4/finished/azure_iothub_lite_cpp_client/lib/AzureIoTLiteClient
	url = https://github.com/andriyadi/AzureIoTLiteClient
